body {
	font-family: 'Open Sans', sans-serif;
	color: #0000FF;
	background-image: url('triangular.png');
	position: relative;
}

h1 {
	text-align: center;
}

.led {
	margin: 0 auto;
	width: 150px;
}

/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* red */
.red {
	background: #cb4e4e;
	color: #fff;
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	padding: 0;
}

.redblink {
	background: #cb4e4e;
	color: #fff;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	padding: 0;
	box-shadow: 0 0 12px 12px #ab3c3c;
}

/* yellow */
.yellow {
	background: #fcd04b;
	color: #fff;
	box-shadow: 0 4px #f29e0d;
	top: 2px;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	padding: 0;
}

.yellowblink {
	background: #fcd04b;
	color: #fff;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	padding: 0;
	box-shadow: 0 0 12px 12px #f29e0d;
}

/* green */
.green {
	background: #2ecc71;
	color: #fff;
	box-shadow: 0 4px #24b662;
	top: 2px;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	padding: 0;
}

.greenblink {
	background: #2ecc71;
	color: #fff;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	padding: 0;
	box-shadow: 0 0 12px 12px #24b662;
}
.white{
	background: #fff;
	color: #fff;
	box-shadow: 0 4px #aaa;
	top: 2px;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	padding: 0;
}