{% extends "layout.html" %}
{% block div %}
{% if state == 0 %}
		<div class="led"><button class="btn white"></button></div>
		<div class="led"><button class="btn white"></button></div>
		<div class="led"><button class="btn white"></button></div>
		<div class="led"><button class="btn white"></button></div>
		<div class="led"><button class="btn white"></button></div>
{% elif state == 1 %}
		<div class="led"><button class="btn white"></button></div>
		<div class="led"><button class="btn white"></button></div>
		<div class="led"><button class="btn white"></button></div>
		<div class="led"><button class="btn white"></button></div>
		<div class="led"><button id="green" class="btn green"></button></div>
{% elif state == 2 %}
		<div class="led"><button class="btn white"></button></div>
		<div class="led"><button class="btn white"></button></div>
		<div class="led"><button class="btn white"></button></div>
		<div class="led"><button class="btn greenblink"></button></div>
		<div class="led"><button class="btn green"></button></div>
{% elif state == 3 %}
		<div class="led"><button class="btn white"></button></div>
		<div class="led"><button class="btn white"></button></div>
		<div class="led"><button class="btn yellow"></button></div>
		<div class="led"><button class="btn greenblink"></button></div>
		<div class="led"><button class="btn white"></button></div>
{% elif state == 4 %}
		<div class="led"><button class="btn white"></button></div>
		<div class="led"><button class="btn yellowblink"></button></div>
		<div class="led"><button class="btn yellow"></button></div>
		<div class="led"><button class="btn white"></button></div>
		<div class="led"><button class="btn white"></button></div>
{% elif state == 5 %}
		<div class="led"><button class="btn redblink"></button></div>
		<div class="led"><button class="btn yellow"></button></div>
		<div class="led"><button class="btn white"></button></div>
		<div class="led"><button class="btn white"></button></div>
		<div class="led"><button class="btn white"></button></div>
{% elif state == 6 %}
		<div class="led"><button class="btn redblink"></button></div>
		<div class="led"><button class="btn white"></button></div>
		<div class="led"><button class="btn white"></button></div>
		<div class="led"><button class="btn white"></button></div>
		<div class="led"><button class="btn white"></button></div>
{% elif state == 7 %}
		<div class="led"><button class="btn red"></button></div>
		<div class="led"><button class="btn white"></button></div>
		<div class="led"><button class="btn white"></button></div>
		<div class="led"><button class="btn white"></button></div>
		<div class="led"><button class="btn white"></button></div>
{% endif %}
{% endblock %}